<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
    <title><%=title %></title>
    
  </head>
  <body>
    This is a demo html view loaded using EJS. 

    <form method="post" action="/upload" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Name" /><br />
      <input type="text" name="lastname" placeholder="Last Name" /><br />
      <input type="text" name="phone" placeholder="Mobile" /><br />
      <input type="file" name="file" multiple="true" /><br />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
